html{
    scroll-behavior: smooth;
}


ion-icon {
    font-size: 24px;
  }


/* -----------------------------------------------inicio--------------------------------------------------------- */
.inicio{
    background: #202020;
    background-size: cover;
    height: 100vh;
    color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio .contenido h1{
    margin-top: 40px;
    font-size: 42px;
}


.typed{
    color: #778da9;
    font-weight: bold;
}

/* .animated-text{
    font-size: 18px;
    font-weight: normal;                ********C O D I G O  P A R A  A N I M A C I O N  D E  T E X T O **********
    min-width: 200px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: 'Ingeniero en Sistemas y Computación';
    color: #EBEBEB;
    animation: words 20s infinite;
} */

/* .animated-text span::after{
    content: '';
    background-color: #202020;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid;
    right: -8px;
    animation: cursor .6s infinite, typing 20s steps(14) infinite;
} */

.inicio .contenido .redes a{
    color: #EBEBEB;
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 40px;
    line-height: 40px;
    margin: 10px 5px;
}

.inicio .contenido .redes a:hover{
    color: #778da9;
}

/* ----------------------------------------------------------sobre mi--------------------------------------------- */

.sobreMi{
    background-color: #202020 ;
    color: #EBEBEB;
    height: 700px;
    padding: 50px 20px;
    margin: auto;
    display: flex;
}

.sobreMi .contenido{
    max-width: 1110px;
    margin: auto;
}

.sobreMi .contenido h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.sobreMi .contenido p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}


/* ----------------------------skills----------------------------------------------*/
.skills{
    background-color: #202020 ;
    color: #EBEBEB;
    height: 450px;
    padding: 50px 20px;
    margin: auto;
}

.skills .section-title{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

u{
    text-decoration: none;
}

li{
    list-style: none;
}

.label-medium{
    font-size: 14px;
    letter-spacing: 0.5px;
}

.resume-bottom-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 12px;
}

.resume-bottom-item{
    background-color: #2B303B;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 8px;
}

.resume-bottom-item .icon{
    height: 20px;
}


/* proyectos */

.proyectos{
    background-color: #202020;
}

.proyectos h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    color: #EBEBEB;
}
.contenedor{
    padding: 50px 0;
}

.wrapper{
    padding: 10px 10%;
}

.card-area{
    display: grid;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 50px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cards{
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.cards img{
    height: 350px;
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    position: absolute;
    display: flex;
    overlay: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(transparent, #778da9 60%);
    padding: 0 50px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.overlay h3{
    margin-top: 55%;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

.overlay a{
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    color: #EBEBEB;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.cards:hover img{
    transform: scale(1.1);
}

.cards:hover .overlay{
    height: 100%;
}

.overlay .icon{
    margin: 10px;
}

.contacto{
    background-color: #202020;
    color: #EBEBEB;
    height: 700px;
    padding: 50px 20px;
    margin: auto;
    display: flex;
}



/* @keyframes cursor {
    to{
        border-left: 2px solid #202020;
    }
}

@keyframes words {
    0%, 20%{
        content: 'Ingeniero en Sistemas y Computación';                     ********C O D I G O  P A R A  A N I M A C I O N  D E  T E X T O **********
    }
    21%, 40%{
        content: 'Desarrollador';
    }    
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 8px);
    }
} */