.inicio{
    background: #202020;
    background-size: cover;
    height: 100vh;
    color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio .contenido h1{
    margin-top: 40px;
    font-size: 42px;
}


.typed{
    color: #778da9;
    font-weight: bold;
}

.inicio .contenido .redes a{
    color: #EBEBEB;
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 40px;
    line-height: 40px;
    margin: 10px 5px;
}

.inicio .contenido .redes a:hover{
    color: rgb(119, 141, 169);
}