.skills{
    background-color: #202020 ;
    color: #EBEBEB;
    height: 450px;
    padding: 50px 20px;
    margin: auto;
}

.skills .section-title{
    font-size: 48px;
    text-align: left;
    padding: 20px 0;
}

u{
    text-decoration: none;
}

li{
    list-style: none;
}

.label-medium{
    font-size: 14px;
    letter-spacing: 0.5px;
}

.resume-bottom-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 12px;
}

.resume-bottom-item{
    background-color: #2B303B;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 8px;
}

.resume-bottom-item .icon{
    height: 20px;
}